
body {
	margin: 0;
	background-color: black;
	font-family: "RingbearerMedium";
	text-align: center;
}

.fade-out {
	animation: fadeOut 4s;
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-in {
	animation: fadeIn 4s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#bodyWrap {
	height: 100vh;
	width: 100%;
	margin:0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-size: cover;
}

/*first background image*/
.background-image1 {
	background: url('img/brickwallbg.jpg') no-repeat center center fixed;	
}

.bg-image-forest1  {
	background: url('img/frostforest1.jpg') no-repeat center center fixed;
}

.bg-image-forest2 {
	background: url('img/frostforest2.jpg') no-repeat center center fixed;
}

.bg-image-forest3 {
	background: url('img/frostforest3.jpg') no-repeat center center fixed;
}

.bg-image-treemonster {
	background: url('img/treemonster.jpg') no-repeat center right fixed;
}

#centerDiv {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	width: 80%;
}

.musicBtnStyle {
	position: absolute;
    align-self: flex-start;
    top: 0;
    height: 60px;
    align-items: center;
    width: 60px;
    border-radius: 50%;
    font-size: 15px;
    margin: 2px;
    padding: 14px 0px;
    word-spacing: 0;
    line-height: 1;
    letter-spacing: .5px;
}
.musicBtnStyle:hover {
	transform: translate(0px);
	box-shadow: 0px 6px 8px;
}

button {
	outline: none;
	font-family: "RingbearerMedium";
	background: url(img/buttonbg.jpg);
	border: 3px solid #737272;
	padding: 10px 8px;
	border-radius: 12px;
	font-size: 25px;
	word-spacing: 2px;
	letter-spacing: 1px;
	box-shadow: 0px 6px 8px;
}

button:hover {
	cursor: pointer;
	transform: translateY(-2px);
	box-shadow: 0px 9px 11px;
}

button:active {
	transform: translateY(-1px);
	box-shadow: 0px 6px 8px;
}

#page1h1 {
    color: #000000;
    font-size: 80px;
    text-shadow: 1px 1px 0 #000,
    -1px -1px 0 #ff0000,
    1px -1px 0 #ff0000, 
    -1px 1px 0 #ff0000, 
    1px 1px 0 #f00, 
    0px -30px 11px #92270c;
}

.blurryOut {
	animation: blurryOut 4s; 
}

@keyframes blurryOut 
{
	0% 
	{
		opacity: 1;
		filter: blur(1px);
	}
	100% 
	{
		opacity: 0;
		filter: blur(20px);
	}
}


#gameInput {
	margin: 20px 20px;
	padding: 10px ;
	font-size: 25px;
	opacity: .8;
	border-radius: 8px;
	outline: none;
	text-align: center;
	font-family: Papyrus;
	box-shadow: 0px 0px 10px #92270c;
}

.hide {
	display: none;
}

.gameh2 {
	font-size: 35px;
	color: white;
	text-align: center;
	word-spacing: 5px;

}

audio {
	outline: none;
}

@font-face {
	font-family: "RingbearerMedium";
	src: url(font/RingbearerMedium.ttf);
}

.narrator {
	background: url('img/paperbg.jpg') no-repeat;
	background-size: cover;
	font-size: 20px;
	font-family: Papyrus;
	color: black;
	margin: 70px 10px;
	border: 2.5px solid #292929;
	border-radius: 8px;
	max-width: 400px;
	padding: 20px;
	line-height: 25px;
	box-shadow: 0px 4px 8px;
}


.beastTalk {
    font-size: 20px;
    font-family: Papyrus;
    box-shadow: 0 0 8px 6px;
    padding: 5px;
    color: rgba(10, 11, 12, 0.7);
    border-radius: 8px;
    background-color: rgba(10, 11, 12, 0.7);
    display: flex;
    max-width: 400px;
    flex-direction: column;
    margin-top: 70px;
}

.beasth3Style {
	color: white;
	flex: 1;
	margin-top: -10px;
}


.beasttalkcontainer {
	color: #ffffff;
	flex:1;
	/*: 2px solid green;*/
}

.choseh3style {
	padding: 20px;
	color: #fff;
	background-color: rgba(10, 11, 12, 0.7);
	border-radius: 8px;
}


.optionsContainer {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
}

.optionBtnStyle {
	background-image: none;
	background-color: rgba(70, 130, 180, 0.75);
	font-size: 18px;
	flex-basis: 45%;
	font-family: Papyrus;
	margin-bottom: 20px;
	box-shadow: 0 0 20px 10px;
}

.optionBtnStyle:hover {
	background-image: none;
	background-color: rgba(70, 130, 180, 0.75);
	color: whitesmoke;
	font-size: 18px;
	font-family: Papyrus;
	box-shadow: 0 0 20px 10px;
}

.pntsContainerDivStyle {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    top: 0;
    border-radius: 10px;
    margin-top: 1px;
}

.intimidationStyle {
	background: url('img/intimidatebg.jpg') no-repeat;
    height: 45px;
    width: 97px;
    top: 0;
    border-radius: 10px;
    color: whitesmoke;
    word-wrap: break-word;
    line-height: .9;
    padding: 3.5px 6px;
    border: 2px solid grey;
    margin: 1px;
}

.persuassionStyle {
	background: url('img/persuadebg.jpg') no-repeat;
    height: 45px;
    width: 97px;
    top: 0;
    border-radius: 10px;
    color: whitesmoke;
    word-wrap: break-word;
    line-height: .9;
    padding: 3.5px 6px;
    border: 2px solid grey;
    margin: 1px;
}




