
body {
	margin: 0;
	background-color: black;
	font-family: "RingbearerMedium";
	text-align: center;
}

.fade-out {
	animation: fadeOut 4s;
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-in {
	animation: fadeIn 4s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#bodyWrap {
	height: 100%;
	width: 100%;
	margin:0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-size: cover;
}

/*first background image*/
.background-image1 {
	background: url('img/brickwallbg.jpg') no-repeat center center fixed;	
}

.bg-image-forest1  {
	background: url('img/frostforest1.jpg') no-repeat center center fixed;
}

.bg-image-forest2 {
	background: url('img/frostforest2.jpg') no-repeat center center fixed;
}

.bg-image-forest3 {
	background: url('img/frostforest3.jpg') no-repeat center center fixed;
}

.bg-image-treemonster {
	background: url('img/treemonster.jpg') no-repeat center right fixed;
}

#centerDiv {
	display: flex;
	align-items: center;
	justify-content: top;
	flex-direction: column;
	height: 100vh;
}

button {
	font-size: 20px;
	padding: 10px 6px;
	border-radius: 8%;
	background-color: lightgrey;
}

#page1h1 {
	color: darkred;
	font-size: 80px;
	   text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}

#gameInput {
	margin: 20px 20px;
	padding: 10px ;
	font-size: 25px;
	opacity: .8;
	border-radius: 8%;
	outline: none;
	text-align: center;
}

.hide {
	display: none;
}

.gameh2 {
	font-size: 35px;
	color: white;
	text-align: center;
	word-spacing: 5px;
}

button {
	outline: none;
	font-family: "RingbearerMedium";
	background: url(img/buttonbg.jpg);
	border: 5px solid grey;
	font-size: 25px;
	word-spacing: 2px;
	letter-spacing: 1px;
}

audio {
	outline: none;
}

@font-face {
	font-family: "RingbearerMedium";
	src: url(font/RingbearerMedium.ttf);
}

.narrator {
	background-color: rgba(135, 134, 134, .7);
	font-size: 20px;
	font-family: Papyrus;
	color: whitesmoke;
	margin: 4% 8%;
	border: 2px solid darkgrey;
	border-radius: 10%;
	max-width: 400px;
	padding: 20px;
	line-height: 25px;
}









